Repository Harshad-BTSavvy/caremap-demo, pull requests merged in 2025-09, with the labels that each got.

#61 Refactor : Utilised backend layer for communication options in CareTeam
  app/home/careTeam/viewContact.tsx
Labels: refactor

#58 Track enhancements
  app/home/careTeam/index.tsx
  app/home/myHealth/index.tsx
  app/home/track/addItem.tsx
  app/home/track/index.tsx
  app/home/track/questions/[itemId].tsx
  components/shared/track-shared-components/BooleanQuestion.tsx
  components/shared/track-shared-components/DescriptiveQuestion.tsx
  components/shared/track-shared-components/MultipleChoice.tsx
  components/shared/track-shared-components/MultipleSelect.tsx
  components/shared/track-shared-components/TrackCalender.tsx
  components/shared/track-shared-components/TrackCard.tsx
  components/ui/accordion/index.tsx
  package-lock.json
  package.json
  services/core/TrackService.ts
  services/database/seeds/v1/track_seed.json
  utils/theme/color.ts
Labels: enhancement, track-tab, ui-updates

#65 Track Module - Config Sync with DB Reconciliation
  .gitignore
  app/home/track/questions/[itemId].tsx
  components/shared/track-shared-components/QuestionRenderer.tsx
  constants/enumValidator.ts
  constants/trackTypes.ts
  constants/units.ts
  services/config/track-config.json
  services/core/TrackService.ts
  services/database/db.ts
  services/database/migrations/v1/migration_v1.ts
  services/database/migrations/v1/schema_v1.ts
  services/database/seeds/v1/seed_track_v1.ts
  services/database/seeds/v1/track_seed.json
  services/database/track-sync/sync-helpers.ts
  services/database/track-sync/track-version-manager.ts
  services/database/track-sync/track_data_sync.ts
Labels: enhancement, sqlite, track-tab, refactor, bugfix
